Repository dseinternational/open-dotnet, pull requests merged in 2023-12, with the labels that each got.

#63 Clean up Token
  src/DSE.Open.Language.Annotations/Token.cs
Labels: bug

#67 Use SearchValues in ContainsPattern
  src/DSE.Open.Values/Text/ContainsPattern.cs
Labels: enhancement, area-values

#69 Add Stanza NLP annotator
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  DSE.Open.sln
  Directory.Packages.props
  eng/scripts/init_ci.py
  requirements.txt
  src/DSE.Open.Interop.Python/DSE.Open.Interop.Python.csproj
  src/DSE.Open.Interop.Python/IPyObjectWrapper.cs
  src/DSE.Open.Interop.Python/PyConverter.cs
  src/DSE.Open.Interop.Python/PyWrapperFactory.cs
  src/DSE.Open.Interop.Python/PythonInteropException.cs
  src/DSE.Open.Language.Annotations.Books/Book.cs
  src/DSE.Open.Language.Annotations.Books/DSE.Open.Language.Annotations.Books.csproj
  src/DSE.Open.Language.Annotations.Books/IBookAnnotator.cs
  src/DSE.Open.Language.Annotations.Books/Page.cs
  src/DSE.Open.Language.Annotations.Books/Paragraph.cs
  src/DSE.Open.Language.Annotations.Books/Sources/BookSource.cs
  src/DSE.Open.Language.Annotations.Books/Sources/PageSource.cs
  src/DSE.Open.Language.Annotations.Books/Sources/ParagraphSource.cs
  src/DSE.Open.Language.Annotations.Nlp.Stanza/DSE.Open.Language.Annotations.Nlp.Stanza.csproj
  src/DSE.Open.Language.Annotations.Nlp.Stanza/Document.cs
  src/DSE.Open.Language.Annotations.Nlp.Stanza/Pipeline.cs
  src/DSE.Open.Language.Annotations.Nlp.Stanza/PythonContext.cs
  src/DSE.Open.Language.Annotations.Nlp.Stanza/PythonContextConfiguration.cs
  src/DSE.Open.Language.Annotations.Nlp.Stanza/Sentence.cs
  src/DSE.Open.Language.Annotations.Nlp.Stanza/Span.cs
  src/DSE.Open.Language.Annotations.Nlp.Stanza/StanzaAnnotator.cs
  src/DSE.Open.Language.Annotations.Nlp.Stanza/StanzaContext.cs
  src/DSE.Open.Language.Annotations.Nlp.Stanza/StanzaException.cs
  src/DSE.Open.Language.Annotations.Nlp.Stanza/Token.cs
  src/DSE.Open.Language.Annotations.Nlp.Stanza/Word.cs
  src/DSE.Open.Language.Annotations/IAnnotator.cs
  src/DSE.Open.Language.Readability/Class1.cs
  src/DSE.Open.Language.Readability/DSE.Open.Language.Readability.csproj
  test/DSE.Open.Language.Annotations.Nlp.Stanza.Tests/DSE.Open.Language.Annotations.Nlp.Stanza.Tests.csproj
  test/DSE.Open.Language.Annotations.Nlp.Stanza.Tests/PythonContextTests.cs
  test/DSE.Open.Language.Annotations.Nlp.Stanza.Tests/StanzaAnnotatorTests.cs
  test/DSE.Open.Language.Annotations.Nlp.Stanza.Tests/StanzaContextFixture.cs
  test/DSE.Open.Language.Annotations.Nlp.Stanza.Tests/StanzaNlpFactAttribute.cs
  test/DSE.Open.Language.Annotations.Nlp.Stanza.Tests/StanzaNlpTheoryAttribute.cs
Labels: area-language, area-language-annotations

#72 Add formatting options and extend tests for AsciiChar
  src/DSE.Open/AsciiChar.cs
  src/DSE.Open/AsciiChar2.cs
  src/DSE.Open/AsciiChar3.cs
  test/DSE.Open.Tests/AsciiChar2Tests.cs
  test/DSE.Open.Tests/AsciiCharTests.cs
Labels: enhancement

#75 Support overriding ISpanParsable methods
  gen/DSE.Open.Values.Generators/Extensions/MethodDeclarationSyntaxExtensions.cs
  gen/DSE.Open.Values.Generators/Model/ValueTypeSpec.cs
  gen/DSE.Open.Values.Generators/SourceWriter.cs
  gen/DSE.Open.Values.Generators/ValueTypesGenerator.Emitter.cs
  gen/DSE.Open.Values.Generators/ValueTypesGenerator.cs
Labels: area-values

#76 Fix recursive RemoveRange for List<T>
  src/DSE.Open/Collections/Generic/CollectionExtensions.cs
Labels: bug, area-collections
