Repository dseinternational/open-dotnet, pull requests merged in 2023-07, with the labels that each got.

#11 Change value constructors back to private
  gen/DSE.Open.Values.Generators/Model/ValueTypeSpec.cs
  src/DSE.Open.Globalization/gen/net7.0/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/CountryCode.g.cs
  src/DSE.Open.Globalization/gen/net7.0/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/CountryCode3.g.cs
  src/DSE.Open.Globalization/gen/net7.0/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/LanguageCode2.g.cs
  src/DSE.Open.Globalization/gen/net7.0/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/LanguageTag.g.cs
  src/DSE.Open.Values/UriAsciiPath.cs
  src/DSE.Open.Values/UriPath.cs
  src/DSE.Open.Values/gen/net7.0/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/AlphaCode.g.cs
  src/DSE.Open.Values/gen/net7.0/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/AlphaNumericCode.g.cs
  src/DSE.Open.Values/gen/net7.0/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/AsciiPath.g.cs
  src/DSE.Open.Values/gen/net7.0/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/ContainsPattern.g.cs
  src/DSE.Open.Values/gen/net7.0/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/Percent.g.cs
  src/DSE.Open.Values/gen/net7.0/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/Ratio.g.cs
  src/DSE.Open.Values/gen/net7.0/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/UriAsciiPath.g.cs
  src/DSE.Open.Values/gen/net7.0/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/UriPath.g.cs
  src/DSE.Open/AsciiString.cs
  src/DSE.Open/CharSequence.cs
Labels: area-values

#12 UriPath append should not add slash if path to append is empty
  src/DSE.Open.Values/UriAsciiPath.cs
  src/DSE.Open.Values/UriPath.cs
  test/DSE.Open.Values.Tests/UriAsciiPathTests.cs
  test/DSE.Open.Values.Tests/UriPathTests.cs
Labels: bug, area-values

#15 Add ToAbsolutePath on UriPath types
  src/DSE.Open.Values/UriAsciiPath.cs
  src/DSE.Open.Values/UriPath.cs
  test/DSE.Open.Values.Tests/UriAsciiPathTests.cs
  test/DSE.Open.Values.Tests/UriPathTests.cs
Labels: enhancement, area-values

#16 Target .NET 8 only
  benchmarks/DSE.Open.Benchmarks/DSE.Open.Benchmarks.csproj
  src/DSE.Open.Abstractions/DSE.Open.Abstractions.csproj
  src/DSE.Open.Data.SqlClient/DSE.Open.Data.SqlClient.csproj
  src/DSE.Open.Data/DSE.Open.Data.csproj
  src/DSE.Open.Diagnostics.HealthChecks/DSE.Open.Diagnostics.HealthChecks.csproj
  src/DSE.Open.Drawing/DSE.Open.Drawing.csproj
  src/DSE.Open.EntityFrameworkCore.Relational/DSE.Open.EntityFrameworkCore.Relational.csproj
  src/DSE.Open.EntityFrameworkCore/DSE.Open.EntityFrameworkCore.csproj
  src/DSE.Open.Globalization/DSE.Open.Globalization.csproj
  src/DSE.Open.Language/DSE.Open.Language.csproj
  src/DSE.Open.Mediators/DSE.Open.Mediators.csproj
  src/DSE.Open.Notifications/DSE.Open.Notifications.csproj
  src/DSE.Open.Serialization.DataTransfer/DSE.Open.Serialization.DataTransfer.csproj
  src/DSE.Open.Serialization/DSE.Open.Serialization.csproj
  src/DSE.Open.Testing.Xunit/DSE.Open.Testing.Xunit.csproj
  src/DSE.Open.Testing/DSE.Open.Testing.csproj
  src/DSE.Open.Values.Abstractions/DSE.Open.Values.Abstractions.csproj
  src/DSE.Open.Values/DSE.Open.Values.csproj
  src/DSE.Open.Web/DSE.Open.Web.csproj
  src/DSE.Open/AsciiChar.Helpers.cs
  src/DSE.Open/DSE.Open.csproj
  test/DSE.Open.Drawing.Tests/DSE.Open.Drawing.Tests.csproj
  test/DSE.Open.EntityFrameworkCore.Tests/DSE.Open.EntityFrameworkCore.Tests.csproj
  test/DSE.Open.Geography.Tests/DSE.Open.Geography.Tests.csproj
  test/DSE.Open.Globalization.Tests/DSE.Open.Globalization.Tests.csproj
  test/DSE.Open.Language.Tests/DSE.Open.Language.Tests.csproj
  test/DSE.Open.Mediators.Tests/DSE.Open.Mediators.Tests.csproj
  test/DSE.Open.Notifications.Tests/DSE.Open.Notifications.Tests.csproj
  test/DSE.Open.Serialization.DataTransfer.Tests/DSE.Open.Serialization.DataTransfer.Tests.csproj
  test/DSE.Open.Serialization.Tests/DSE.Open.Serialization.Tests.csproj
  test/DSE.Open.Tests/DSE.Open.Tests.csproj
  test/DSE.Open.Values.Generators.Tests/DSE.Open.Values.Generators.Tests.csproj
  test/DSE.Open.Values.TestValues/DSE.Open.Values.TestValues.csproj
  test/DSE.Open.Values.Tests/DSE.Open.Values.Tests.csproj
  test/DSE.Open.Web.Tests/DSE.Open.Web.Tests.csproj
Labels: area-all
