Repository dseinternational/open-dotnet, pull requests merged in 2024-12, with the labels that each got.

#199 Implement TryParse(string, ...) for TokenIndex
  src/DSE.Open.Language.Annotations/TokenIndex.cs
  test/DSE.Open.Language.Annotations.Tests/TokenIndexTests.cs
Labels: bug, area-language

#200 Fix TokenIndex comparisons
  src/DSE.Open.Language.Annotations/TokenIndex.cs
  test/DSE.Open.Language.Annotations.Tests/TokenIndexTests.cs
Labels: bug, area-language-annotations

#202 Observation hash code fixes
  src/DSE.Open.Observations/Observation.cs
  test/DSE.Open.Observations.Tests/ObservationTests.cs
  test/DSE.Open.Observations.Tests/SnapshotEqualityComparerTests.cs
Labels: bug, area-observations

#203 Fix and test Observation and Snapshot JSON serialization
  src/DSE.Open.Observations.Abstractions/IObservation.cs
  src/DSE.Open.Observations.Abstractions/ISnapshot.cs
  src/DSE.Open.Observations/Snapshot.cs
  test/DSE.Open.Observations.Tests/DSE.Open.Observations.Tests.csproj
  test/DSE.Open.Observations.Tests/JsonContext.cs
  test/DSE.Open.Observations.Tests/ObservationTests.cs
  test/DSE.Open.Observations.Tests/SnapshotTests.cs
Labels: area-observations

#210 Override equality of ResourceItem
  gen/DSE.Open.Localization.Generators/Resources/Parsing/ResourceItem.cs
Labels: bug, area-localization

#213 Emit types in global namespace in Values generator
  gen/DSE.Open.Values.Generators/GlobalTypes.cs
  gen/DSE.Open.Values.Generators/Model/ValueTypeSpec.cs
  gen/DSE.Open.Values.Generators/ValueTypesGenerator.Emitter.cs
  gen/DSE.Open.Values.Generators/ValueTypesGenerator.cs
  src/DSE.Open.Globalization/gen/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/CountryCode.g.cs
  src/DSE.Open.Globalization/gen/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/CountryCode3.g.cs
  src/DSE.Open.Globalization/gen/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/LanguageCode2.g.cs
  src/DSE.Open.Globalization/gen/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/LanguageTag.g.cs
  src/DSE.Open.Globalization/gen/System.Text.RegularExpressions.Generator/System.Text.RegularExpressions.Generator.RegexGenerator/RegexGenerator.g.cs
  src/DSE.Open.Language.Abstractions/gen/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/SentenceId.g.cs
  src/DSE.Open.Language.Abstractions/gen/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/SentenceMeaningId.g.cs
  src/DSE.Open.Language.Abstractions/gen/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/SignModality.g.cs
  src/DSE.Open.Language.Abstractions/gen/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/TokenText.g.cs
  src/DSE.Open.Language.Abstractions/gen/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/WordId.g.cs
  src/DSE.Open.Language.Abstractions/gen/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/WordMeaningId.g.cs
  src/DSE.Open.Language.Abstractions/gen/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/WordText.g.cs
  src/DSE.Open.Language.Annotations/gen/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/PosTag.g.cs
  src/DSE.Open.Language.Annotations/gen/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/SemanticClassificationTag.g.cs
  src/DSE.Open.Language.Annotations/gen/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/TreebankPosTag.g.cs
  src/DSE.Open.Language.Annotations/gen/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/UniversalFeatureName.g.cs
  src/DSE.Open.Language.Annotations/gen/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/UniversalPosTag.g.cs
  src/DSE.Open.Language.Annotations/gen/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/UniversalRelationTag.g.cs
  src/DSE.Open.Observations.Abstractions/gen/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/Amount.g.cs
  src/DSE.Open.Observations.Abstractions/gen/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/BehaviorFrequency.g.cs
  src/DSE.Open.Observations.Abstractions/gen/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/Binary.g.cs
  src/DSE.Open.Observations.Abstractions/gen/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/Completeness.g.cs
  src/DSE.Open.Observations.Abstractions/gen/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/Count.g.cs
  src/DSE.Open.Observations.Abstractions/gen/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/MeasureId.g.cs
  src/DSE.Open.Observations.Abstractions/gen/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/MeasurementLevel.g.cs
  src/DSE.Open.Observations.Abstractions/gen/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/ObservationId.g.cs
  src/DSE.Open.Observations.Abstractions/gen/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/Percent.g.cs
  src/DSE.Open.Observations.Abstractions/gen/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/Ratio.g.cs
  src/DSE.Open.Observations.Abstractions/gen/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/SpeechClarity.g.cs
  src/DSE.Open.Observations.Abstractions/gen/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/YesNo.g.cs
  src/DSE.Open.Observations.Abstractions/gen/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/YesNoUnsure.g.cs
  src/DSE.Open.Records.Abstractions/gen/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/BiologicalSex.g.cs
  src/DSE.Open.Records.Abstractions/gen/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/ClinicalConceptCode.g.cs
  src/DSE.Open.Records.Abstractions/gen/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/ConditionDiagnosisCode.g.cs
  src/DSE.Open.Records.Abstractions/gen/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/EthnicityCode.g.cs
  src/DSE.Open.Records.Abstractions/gen/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/Gender.g.cs
  src/DSE.Open.Records.Abstractions/gen/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/HearingDiagnosisCode.g.cs
  src/DSE.Open.Speech.Abstractions/gen/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/SpeechSymbol.g.cs
  src/DSE.Open.Values/Identifier.cs
  src/DSE.Open.Values/gen/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/AlphaCode.g.cs
  src/DSE.Open.Values/gen/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/AlphaNumericCode.g.cs
  src/DSE.Open.Values/gen/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/ContainsPattern.g.cs
  src/DSE.Open.Values/gen/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/Identifier.g.cs
  src/DSE.Open.Values/gen/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/Label.g.cs
  src/DSE.Open.Values/gen/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/Tag.g.cs
  src/DSE.Open.Values/gen/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/UriAsciiPath.g.cs
  src/DSE.Open.Values/gen/DSE.Open.Values.Generators/DSE.Open.Values.Generators.ValueTypesGenerator/UriPath.g.cs
  test/DSE.Open.Values.Generators.Tests/EquatableValueTypeGenerationTests.cs
Labels: bug, area-values

#214 Add status to results
  src/DSE.Open.Globalization/gen/System.Text.RegularExpressions.Generator/System.Text.RegularExpressions.Generator.RegexGenerator/RegexGenerator.g.cs
  src/DSE.Open.Results/CollectionValueAsyncResultBuilder.cs
  src/DSE.Open.Results/CollectionValueResultBuilder.cs
  src/DSE.Open.Results/PaginatedCollectionValueAsyncResultBuilder.cs
  src/DSE.Open.Results/PaginatedCollectionValueResultBuilder.cs
  src/DSE.Open.Results/Result.cs
  src/DSE.Open.Results/ResultBuilder.cs
  src/DSE.Open.Results/ResultHttpStatusCodeMapper.cs
  src/DSE.Open.Results/ResultStatus.cs
  src/DSE.Open.Results/ValueResultBuilder.cs
Labels: area-results
